.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 20px;
  padding-right: 40%;
  padding-left: 5%;
}

.App-header > h1 {
  color: dodgerblue;
}

.App-intro {
  font-size: large;
}

h2 {
  text-align: center;
}

li {
  text-align: center;
  margin: 5px 0px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.App-header > h1, .App-header > h2 {
  cursor:pointer;
}


.pagination-menu span, .play-category, .show-answer{
  cursor: pointer;
}

.categories-list > h2 {
  cursor: pointer;
}


.categories-list > ul > li {
  cursor: pointer;
}


.rating{
  width: 12%;
}

.star{
  /* margin-right: 4%; */
}

.star-highlighted:before {
  content: "\2605";
  position: absolute;
  /* margin-right: 4%; */
  color:#ffe81b;
}